:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.game-frame {
    margin: 10rem auto;
    border: 2px solid black;
    width: 50rem;
    height: 50rem;
    position: relative;
}

.snake {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: red;
}