:root {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    font-size : 62.5%;
}

.game-frame {
    margin  : 10rem auto;
    border  : 0.2rem solid #94590f;
    width   : 54rem;
    height  : 54rem;
    position: relative;
}

.game-frame__wall {
    border    : 0.2rem solid #94590f;
    box-shadow: 0 0 0 1.8rem #f59f36;
    width     : 50rem;
    height    : 50rem;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
}

.game-frame__pop-up {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: rgba(222, 209, 193, 0.9);
    display         : block;
}

.game-frame__start {
    position     : absolute;
    width        : 12rem;
    height       : 5rem;
    text-align   : center;
    color        : #09db44;
    font-size    : 2.5rem;
    font-weight  : bold;
    border       : 2px solid #07db42;
    border-radius: 2rem;
    top          : 50%;
    left         : 50%;
    transform    : translate(-50%, -50%);
}

.snake {
    position        : absolute;
    width           : 2rem;
    height          : 2rem;
    background-color: red;
    /* transition   : all 0.5s; */
}

.bait {
    position        : absolute;
    width           : 2rem;
    height          : 2rem;
    background-color: red;
}

.-display-none {
    display: none;
}

.-display-block {
    display: block;
}