:root {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    font-size : 62.5%;
}

.game-frame {
    margin  : 10rem auto;
    border  : 2px solid black;
    width   : 54rem;
    height  : 54rem;
    position: relative;
}

.game-frame__wall {
    border   : 2px solid green;
    width    : 50rem;
    height   : 50rem;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.snake {
    position        : absolute;
    width           : 2rem;
    height          : 2rem;
    background-color: red;
    transition: all 0.5s;
}

.bait {
    position        : absolute;
    width           : 2rem;
    height          : 2rem;
    background-color: red;
}